<%= form_tag emails_path, method: 'post', class: 'form-inline' do %>
  <%= label_tag :address, nil, class: 'hidden-desktop hidden-phone hidden-tablet' %>
  <div class="input-append">
    <%= text_field_tag :forward_address, current_user[:forward_address], class: 'form-control',
      placeholder: 'Forwarding Address', autocapitalize: false, autocorrect: false %>
    <span class="add-on">@<%= @email_domain %></span>
  </div>
  <div class="input-append">
    <%= email_field_tag :forward_destination, current_user[:forward_destination], class: 'form-control',
      placeholder: 'Destination Email', autocapitalize: false, autocorrect: false %>
  </div>
  <button type="submit" class="btn btn-primary">
    <%#= glyph('ok') %> Create
  </button>
<% end %>
